<div class="section-block">
  <div class="text-center">
    <!-- <i class="rounded icon-custom icon-sm icon-bg-darker line-icon icon-graph"></i> -->
    <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
      <div class="headline"><h3>To book an appointment</h3></div>
      <address class="md-margin-bottom-40">
        Equilibrium Clinic: <span style="color: #a10f2b">01273 470955</span><br />
        Hye-Eun Hills: <span style="color: #a10f2b">077333 67803</span><br />
        <sup>MBAcC • MRCHM • BA • BSc</sup>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </address>
  </div>
  <div class="clearfix"></div>
</div>
